<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conejo Bookstore</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Spectral+SC:wght@200;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/974a6748c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../css/index.css" />
    <link rel="stylesheet" href="../../../css/header.css" />
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="../../../css/footer.css" />
</head>


<body>

    <%- include ('../partials/header.ejs') %>
    
    <main>

        <section class="section" id="Banner">
            <div id="Banner-texto">
                <a href="Registrate"><p>Nuestros socios tienen beneficios. Registrate GRATIS y DISFRUTA!</p></a>
            </div>
            <div id="Banner-imagen"></div>
        </section>
        <section class="section" id="Productos">
            <h1>Novedades</h1>
            <ul>
                <% products.forEach((product) => { %>
                <li>
                    <img src= "<%= product.imagen %>" />
                    <h3> <%= product.titulo %> </h3>
                    <a href="/products/<%= product.id %>"> VER </a>
                </li>
                <% }); %>
            </ul>
        </section>
        <section class="section">
            <div class="contenedor" >
                <div class="contenedor-a" id="Mas-leidos"><a href="Mas leidos"><h2>Más leídos</h2></a></div>
                <div id="Mas-leidos-imagen"></div>
            </div>
            <div class="contenedor">
                <div class="contenedor-a" id="Recomendados"><a href="Recomendados"><h2>Recomendados</h2></a></div>
                <div id="Recomendados-imagen"><a href="Recomendados"></a></div>
            </div>
            <div class="contenedor">
                <div class="contenedor-a" id="Ofertas">
                    <a href="Ofertas"><h2>Sale!</h2></a>
                    <p>No te pierdas las descuentos de este mes</p>
                </div>
                <div id="Ofertas-imagen"><a href="Ofertas"></a></div>
            </div>
            <div class="contenedor">
                <div class="contenedor-a" id="Intercambia">
                    <a href="Intercambia"><h2>Trueque</h2></a>
                    <p>vení a intercambiar esos libros que ya no quieras...</p>
                </div>
                <div id="Intercambia-imagen"><a href="Intercambia"></a></div>
            </div>
        </section>

    </main>

    <%- include ('../partials/footer.ejs') %>


</body>
</html>